.lead {
    color: white;
    text-shadow: 3px 3px 10px #000;
    font-size: 1.5rem;
    
    font-family: sans-serif;
}



.display-4 {
    color: white;
    text-shadow: 3px 3px 10px #000;
    font-size: 10vw;
    
    font-family: sans-serif;
    
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    
}




		





.trocktry {
    background-image: url(../bilder/trockenheithero.jpg);
    
}

.jumbotron {
    background-image: url(../bilder/home/chri20.5bel.JPG);
    background-size: cover;
    border-radius: 0;
    
    
    
    
    
    
}
.jumbotron2 {
    background-image: url(../bilder/chri.JPG);
    background-size: cover;
}

.yttrytryt {
    background-image: url(../bilder/trockenheithero.jpg)
}






.card {
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    
    
    
}

.card-title {
    font-size: 1.5rem;
    
    
}



.btn {
    font-size: 1rem;
    
    
}






/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    
}

section .section-title {
    text-align: center;
    color: #353A40;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #353A40 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-family: sans-serif;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}





.heightstry {
    height: 1vh;
}
