
.lead {
    color: white;
    text-shadow: 2px 2px #000000;
    
}



.display-4 {
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 10vw;
    
    
    
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




		



#footer {
    background: #353A40 !important;
}



.trocktry {
    background-image: url(../bilder/trockenheithero.jpg);
    
}

.jumbotron {
    background-image: url(../bilder/chri.JPG);
    background-size: cover;
    
}
.jumbotron2 {
    background-image: url(../bilder/chri.JPG);
    background-size: cover;
}

.yttrytryt {
    background-image: url(../bilder/trockenheithero.jpg)
}





