.lead {
    color: white;
    text-shadow: 3px 3px 10px #000;
    font-size: 1.5rem;
    
    font-family: serif;
    
}



.display-4 {
    color: white;
    text-shadow: 3px 3px 10px #000;
    font-size: 10vw;
    
    font-family: serif;
    
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    
}




		



#footer {
    background: #353A40 !important;
}



.trocktry {
    background-image: url(../bilder/trockenheithero.jpg);
    
}

.jumbotron {
    background-image: url(../bilder/home/chri.JPG);
    background-size: cover;
    
}
.jumbotron2 {
    background-image: url(../bilder/chri.JPG);
    background-size: cover;
}

.yttrytryt {
    background-image: url(../bilder/trockenheithero.jpg)
}






.card {
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    
    
    
}

.card-title {
    font-size: 1.5rem;
    
}



.btn {
    font-size: 1rem;
    
}


